@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;

}

ul {
    background-color: #ffffff;
    width: 150px;
    padding: 0;
    color: #186AC9;
    float: left;
    margin-left: 30px;
}

li {
    list-style: none;
}

.include-accordion ul {
    height: 0;
    padding: 0;
    float: left;
    overflow: hidden;
    transition: .5s;
    border-top: 1px solid #186AC9;
    background-color: #186AC9;
    margin: 0;
}

.include-accordion li li {
    border-bottom: 1px dotted #7FBF8B;
    padding: 10px 0 10px 10px;
    margin-left: 15px;
}

button {
    position: relative;
    border: none;
    width: 100%;
    background-color: inherit;
    color: #fff;
    cursor: pointer;
    text-align: left;
    padding: 15px 0 15px 20px;
    font-size: 1em;
}

button:hover {
    background-color: blue;
}

button::before,
button::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1.5px;
    height: 8px;
    background-color: #fff;
    transition: .5s;
}

button::before {
    transform: translateY(-50%) rotate(-45deg);
    right: 35px;
}

button::after {
    transform: translateY(-50%) rotate(45deg);
    right: 30px;
}

li.active button::before {
    transform: translateY(-50%) rotate(-135deg);
    transition: .5s;
}

li.active button::after {
    transform: translateY(-50%) rotate(135deg);
    transition: .5s;
}

ul.active {
    overflow-y: auto;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
